/* CSS Reset */
html {
	color: #000;
	background: #FFF
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

fieldset,img {
	border: 0
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal
}

li {
	list-style: none
}

caption,th {
	text-align: left
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal
}

q:before,q:after {
	content: ''
}

abbr,acronym {
	border: 0;
	font-variant: normal
}

sup {
	vertical-align: text-top
}

sub {
	vertical-align: text-bottom
}

input,textarea,select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit
}

input,textarea,select { *
	font-size: 100%
}

legend {
	color: #000
}
/* End CSS reset */

.clear{clear:both}
.center{text-align:center !important}
/*  Temporarily disabled because it is not being used
@font-face {
	font-family: 'AaarghNormal';
	src: url('fonts/aaargh-webfont.eot');
	src: url('fonts/aaargh-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/aaargh-webfont.woff') format('woff'),
		url('fonts/aaargh-webfont.ttf') format('truetype'),
		url('fonts/aaargh-webfont.svg#AaarghNormal') format('svg');
	font-weight: normal;
	font-style: normal
}
*/
body,html{
	margin:0;
	padding:0;
	text-align:left;
	background:#FFF
}
body{
	font:12px/18px;
	font-family:"MS Sans Serif","Trebuchet MS","Helvetica neue",Tahoma,Arial,Helvetica,"Lucida Grande",Verdana;
	color:#666
}
a{
	color:#4786ed;
	text-decoration:underline;
}
a:link,a:visited,span.clickableSpan{
	color:#4786ed;
	text-decoration:underline;
	cursor:pointer;
}
a:hover,a:active,span.clickableSpan{
	color:#6C9EF1;
	text-decoration:underline;
	cursor:pointer;
}
p{
	margin:0;
	padding:0;
}
strong{
	font-weight:bold;
}
em{
	font-style:italic;
}
input,select{
	color:#666;
	font-family:"MS Sans Serif","Trebuchet MS","Lucida Grande",Verdana
}
input[type="radio"],input[type="checkbox"]{
	width:auto
}

.listTable td{
	vertical-align: top;
	text-align: left;
	padding: 2px;
	margin: 0px;
}

/* BWF style.css.php overruled */
.listTable tr.row1 {
	background-color: #EAF2FA;
}

.listTable tr.row1 td{
	background-color: #EAF2FA;
}

.listTable tr.header {
	background-color: #297ACC;
	color: #FFFFFF;
	font-weight: bold;
}

.listTable tr.header td,.listTable thead tr th{
	background-color: #297ACC;
	color: #FFFFFF;
	font-weight: bold;
}

/* Custom items */
.input_item{
	border:1px solid #BBB;
}

.input_item_big {
	border:1px solid #BBB;
	-moz-background-clip: padding;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    margin: 10px auto;
    padding-left: 10px;
    position: relative;
    font-size: 16px;    
}

.lightGreyText{
	color:#999;
}
.redText{
	color:#FF0000;
}
.input_item_error{
	border:1px solid #C33;
}
.item_error{
	color:#666;
}
input.datePicker{
    width:80px;
	text-align:center
}
input.small{
	width:50px
}
h1{
	margin: 2px 0 0 0;
	font: 23px/18px 'Trebuchet MS', Georgia, serif;
	color: #59a3f0;
	font-weight: bold;
	vertical-align: top;
	line-height: 40px;
	overflow:hidden
}

h2,h3{
	font-weight:normal;
	font-size:1em;
    text-transform:uppercase;
	line-height:18px
}
h2{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size:1.5em;
	color:#86C222;
}
h3{
	font-weight:bold;
	letter-spacing:0;
	color:#999;
}
.colorBlue{
	color: #4786ed;
}
.button,button{
	font-family:"MS Sans Serif",Arial,Helvetica,sans-serif;
	font-size:14px;
	color:#FFF !important;
	padding:10px 20px;
	background:-moz-linear-gradient(
		top,
		#afd9fa 0%,
		#4786ed);
	background:-webkit-gradient(
		linear,left top,left bottom,
		from(#afd9fa),
		to(#4786ed));
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border:1px solid #3079ed;
	-moz-box-shadow:
		0 1px 3px rgba(000,000,000,0.5),
		inset 0 0 1px rgba(255,255,255,1);
	-webkit-box-shadow:
		0 1px 3px rgba(000,000,000,0.5),
		inset 0 0 1px rgba(255,255,255,1);
	text-shadow:
		0 1px 0 rgba(000,000,000,0.3),
		0 -1px 0 rgba(255,255,255,0.7);
	cursor:pointer;
	width:auto;
}
a.button{
	text-decoration:none;
	display:table-cell;
}
.button:hover,button:hover{
	color:#333;
}
.placeholder{
	color:#CCC;
}
table{
	border-collapse:collapse;
	border-spacing:0;
	font-size:14px !important
}
table tr td{
	text-align: left;
}
table input,table select{
	width:200px;
	padding:2px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #bbb;
	font-size: 100%;
}
/** INPUT and SELECT fields for the invoice details */
#invoiceDetails input, #invoiceDetails select{
	font-size: 10px;
	width: auto;
}
div.searchResults{
	margin:75px 0
}
/* DataTable related */
table.dataTable{
	width:100%;
	border:1px solid #BBB;
	margin:3px 0;
	border-collapse:collapse;
	border-spacing:0;
}
table.dataTable tr,table.dataTable tr th,table.dataTable tr td{
	border:1px solid #CCC;
	padding:3px 2px
}
table.dataTable tr{
	line-height:20px
}
table.dataTable tr:hover{
	background:#FFF8E0
}
table.dataTable th{
	cursor:pointer;
	text-align:center;
	font-weight:bold;
	font-style:italic;
}
table.dataTable thead tr,table.dataTable thead tr:hover{
	padding:10px 20px;
	background:#EBEBEB;
	background:-moz-linear-gradient(top,#ffffff 0%,#ebebeb 53%,#d6d6d6);
	background:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#d6d6d6));
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	text-shadow:
		0 -1px 0 rgba(000,000,000,0.1),
		0 1px 0 rgba(255,255,255,1);
}
table.dataTable thread tr,table.dataTable tr th{
	border-bottom:1px solid #FFBF00
}
/* END dataTable related */
/* formTable related */
table.formTable{
	border-collapse:separate;
	border-spacing:3px;
}
table.formTable td{
	font-size:20px;
	line-height:23px;
	min-width:300px;
}
table.formTable input,table.formTable select{
	font-size:14px
}
/* END formTable related */
table.withSeparation{
	border-collapse:separate;
	border-spacing:2px;
}
/* Contact search */
#contactSearchResults table{
	width:100%;
}
#contactSearchResults tr:hover{
	background:#FFF8E0
}
#contactSearchResults td{
	padding:5px 2px;
	cursor:pointer;
	border-bottom:1px dotted #BBB
}

/* END contact search */
#invoiceSearchResult div{
	border-bottom:1px dotted #CCC; margin:4px 0; padding: 4px 0;
	display:block;
}

#main_container{
	margin:0 auto;
	text-align:center;
	width:975px;
}

#pageHeader{
	height:80px;
	width:100%;
	border-bottom: 1px solid #cccccc;
}
	#pageHeader a{
		text-decoration:none;
	}
	
	#pageHeader .bar{
		margin-top:30px;
		height:60px;
		width:100%;
		font-family:"MS Sans Serif",Arial,Helvetica,sans-serif;
		font-size:14px;
		color:#706f70;
		background-color: #E6E6E6;
		background:-moz-linear-gradient(
			top,
			#ffffff 0%,
			#dbdbdb);
		background: -webkit-gradient(
			linear, left top, left bottom,
			from(#ffffff),
			to(#dbdbdb));
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border: 1px solid #a8a8a8;
		-moz-box-shadow:
			0 0 0 rgba(000,000,000,0),
			inset 0 0 1px rgba(255,255,255,1);
		-webkit-box-shadow:
			0 0 0 rgba(000,000,000,0),
			inset 0 0 1px rgba(255,255,255,1);
		box-shadow:
			0 0 0 rgba(000,000,000,0),
			inset 0 0 1px rgba(255,255,255,1);
		text-shadow:
			0 0 0 rgba(000,000,000,0),
			0 1px 0 rgba(255,255,255,0.3);
		z-index:3;
	}

		#pageHeader .bar .button{
			font-size:13px;
			min-width:20px;
			color:#fff;
			padding:18px 20px;
			background:-moz-linear-gradient(
				top,
				#afd9fa 0%,
				#4786ed);
			background: -webkit-gradient(
				linear, left top, left bottom,
				from(#afd9fa),
				to(#4786ed));
			border-radius:2px;
			-moz-border-radius:2px;
			-webkit-border-radius:2px;
			border:1px solid #3079ed;
			-moz-box-shadow:
				0 0 0 rgba(000,000,000,0),
				inset 0 0 0 rgba(255,255,255,1);
			-webkit-box-shadow:
				0 0 0 rgba(000,000,000,0),
				inset 0 0 0 rgba(255,255,255,1);
			box-shadow:
				0 0 0 rgba(000,000,000,0),
				inset 0 0 0 rgba(255,255,255,1);
			text-shadow:
				0 0 0 rgba(000,000,000,0),
				0 0 0 rgba(255,255,255,0);
			margin:0 0 0 2px;
			font-weight:bold;
			float:left;
		}

	#pageHeader .bar .active,#pageHeader .bar .button:hover{
		border:1px solid #2E78E8;
		border-bottom:3px solid #86C222;
		text-decoration:none
	}

		#pageHeader .bar .button .border{
			position:absolute;
			bottom:-13px;
			left:0;
			width:100%;
			height:6px;
			display:none;
			background:#fc0;
		}

		#pageHeader .bar .button .border.active{
			position: absolute;
			bottom: -13px;
			left: 0;
			width: 100%;
			height: 6px;
			display: inline;
			background: #86c222;
		}

	#pageHeader .logo{
		width: 204px;
		font: 40px/40px 'Trebuchet MS', 'Verdana';
		color: #000;
		padding: 10px 20px 10px 66px;
		background: url('../images/logo_pig.png') 3px 3px no-repeat, -moz-linear-gradient(
			top,
			#ffffff 0%,
			#d8d7d7);
		background: url('../images/logo_pig.png') 3px 3px no-repeat, -webkit-gradient(
			linear, left top, left bottom,
			from(#ffffff),
			to(#d8d7d7));
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border: 1px solid #666666;
		-moz-box-shadow:
			0 1px 3px rgba(000,000,000,0.5),
			inset 0 0 3px rgba(255,255,255,1);
		-webkit-box-shadow:
			0 1px 3px rgba(000,000,000,0.5),
			inset 0 0 3px rgba(255,255,255,1);
		text-shadow:
			0 -1px 0 rgba(000,000,000,0.2),
			0 1px 0 rgba(255,255,255,1);
		position:relative;
		left:-10px;
		top:-4px;
		float:right;
		z-index:10;
	}

.promo{
	position: relative;
	height: 230px;
	width: 96%;
	padding: 2%;
	font-family: "MS Sans Serif",Arial, Helvetica, sans-serif;
	font-size: 14px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

		.promo .text{
			width: 100%;
			height: 98%;
			padding: 0 0 5px 0;
		}

			.promo .text .item{
				position: relative;
				background: #ffffff;
				text-shadow:
					0 -1px 0 rgba(000,000,000,0.2),
					0 1px 0 rgba(255,255,255,1);
				border:1px solid #DDD;
				border-bottom:5px solid #CCC;
				text-transform: uppercase;
				font: 30px/30px 'Trebuchet MS', 'Verdana';
				font-weight: bold;
				text-align: center;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				border-radius: 5px;
				height: 84%;
				width: 31%;
				float: left;
				color: #cccccc;
				padding: 4% 0 0 0;
			}

			.promo .text .item:hover, .promo .text .item.active{
				border-bottom: 5px solid #ffcc00;
				cursor: pointer;
				background: #eeeeee;
				color: #333333;
			}

			.promo .text .item .subtitle{
				position: absolute;
				bottom: 60px;
				left: 0;
				width: 100%;
				text-align: center;
				font: 12px/12px 'Trebuchet MS', 'Verdana';
			}

#title{
	float:left;
	margin:0 0 0 0;
}

#extraButtons{
	float:right;
	top:0px;
	padding:4px;
	margin:0 10px 0 0;
	font-size:12px;
	text-align: right;
}

#extraButtons .userName{
	border-bottom:1px solid #ccc;
	padding: 4px 0;
	margin: 2px 0 3px 0;
}

#content{
	text-align:left;
	color:#666;
	font:14px/16px 'Trebuchet MS',Verdana;
}

.videoTitle, .tourTitle, .registerTitle{
	background: url('../images/video.png') no-repeat;
	margin: -10px 0 0 0;
	width: 100%;
	height: 63px;
	padding: 0 0 0 70px;
	font: 20px/22px 'Trebuchet MS', Verdana;
	line-height: 63px;
}

.tourTitle{
	margin: 4px 0 0 0;
	line-height: 45px;
	padding: 0 0 0 60px;
	background: url('../images/tour.png') no-repeat;

}

.registerTitle{
	margin: 4px 0 0 0;
	line-height: 55px;
	padding: 0 0 0 60px;
	background: url('../images/icon_wallet.png') no-repeat;
}

.hightLightText, .highLightText{
	font: 18px/20px 'Trebuchet MS', Verdana;
	font-weight: bold;
}

.divider{
	height: 1px;
	width: 100%;
	background: #cccccc;
	margin: 5px 0 3px 0;
}


.balloon{
	padding: 2px;
	width: 100%;
	margin: 15px 0 0 0;
	width: 500px;
	border-bottom: 1px solid #cccccc;
	padding: 0 0 10px 0;
}

.balloon .title,.greenTitle{
	font-family:"MS Sans Serif",Arial,Helvetica,sans-serif;
	font-size:25px;
	line-height:27px;
	color:#86C222
}
.greenTitle{
	font-weight:bold;
	margin:6px 0 15px
}

.box_yellow {
	background-color:#FCFFBA;
	border: 1px solid #F0FC0D;
	padding: 3px;
	margin: 3px 0px 3px 0px;
}

.balloon .content, .text{
	margin: 10px 0 0 0;
	font-size: 20px;
	line-height: 23px;
	width:308px;
}
	.testimonial{
		margin: 10px 0;
		width: 500px;
		font-family: "MS Sans Serif",Arial, Helvetica, sans-serif;
		font-size: 14px;
		padding: 10px 20px;
		background: -moz-linear-gradient(
			top,
			#ffffff 0%,
			#ffffff 50%,
			#d6d6d6);
		background: -webkit-gradient(
			linear, left top, left bottom,
			from(#ffffff),
			color-stop(0.50, #ffffff),
			to(#d6d6d6));
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border: 3px solid #ffbf00;
		-moz-box-shadow:
			0 1px 3px rgba(000,000,000,0.5),
			inset 0 0 3px rgba(255,255,255,1);
		-webkit-box-shadow:
			0 1px 3px rgba(000,000,000,0.5),
			inset 0 0 3px rgba(255,255,255,1);
		text-shadow:
			0 -1px 0 rgba(000,000,000,0.1),
			0 1px 0 rgba(255,255,255,1);
	}
#pageFooter {
	clear: left;
	height: 100px;
	width: 975px;
	font-size: 10px;
	line-height: 1em;
	margin: 5px 0 0 0;
	padding: 3px 0 0 0;
	border-top: 1px solid #cccccc;
}

	#footerButtons{
		float: right;
		margin-top:15px
	}

		#footerButtons button{
			font-family: "MS Sans Serif", Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #666666;
			padding:10px;
			background: -moz-linear-gradient(
				top,
				#ffffff 0%,
				#f8f8f8);
			background: -webkit-gradient(
				linear, left top, left bottom,
				from(#ffffff),
				to(#f8f8f8));
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border: 1px solid #dddbdb;
			-moz-box-shadow:
				0 1px 3px rgba(000,000,000,0.1),
				inset -1px -1px 0 rgba(255,255,255,1);
			-webkit-box-shadow:
				0 1px 3px rgba(000,000,000,0.1),
				inset -1px -1px 0 rgba(255,255,255,1);
			text-shadow:
				0 -1px 0 rgba(255,255,255,0.4),
				0 1px 0 rgba(255,255,255,0.3);
		}

		#footerButtons button:hover{
			border: 1px solid #c1c1c1;
		}

#loadingDiv{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;

	background-color: #333333;
	display: none;
}

#searchContent{
	position:absolute;
	z-index:3000;
	background:#FFF;
	border:1px solid #BBB;
	margin:5px 0 0 0;
	top:38px;
	width:170px;
}

#infoBox{
	border: 1px solid #BBBBBB;
	background-color: #FFFFFF;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1010;
	padding: 10px;
}

.infoBoxLoading{
	background: url('../images/ajax-loader.gif') no-repeat;
	background-position: 38px 38px;
	width: 100px;
	height: 40px;
	background-color: #FFFFFF;
	text-align: center;
	padding: 60px 0 0 0;
}

	#CBheader{
		position: relative;
		margin: 5px 0 0 0;
		width: 975px;
		height: 100px;
		border:0;
		border-bottom:2px solid #BBB;
		background-color: #F1ECED;
	}

		#header_logo{
			position: absolute;
			top: 5px;
			left: 5px;
			height: 90px;
			width: 200px;
			border-right: 1px dotted #bbb;
		}

		#login_field{
			position: absolute;
			top: 5px;
			right: 5px;
			width: 600px;
			height: 90px;
			padding: 0 5px 0 0;
			color: #333333;
			text-align: right;
			font-size: 12px;
		}

			.login{
				position: absolute;
				top: 5px;
				right: 5px;
				background: url(../_BWF/images/icons/fugue/key.png);
				background-repeat: no-repeat;
				background-position: left;
				padding: 0 0 0 18px;
				margin: 70px 0 0 150px;
				text-align: right;
				text-decoration: none;
			}

			.login a{
				text-decoration: none;
			}

			.logged_as{
				border-bottom: 1px solid #bbbbbb;
			}

			.logout{
				background: url(../_BWF/images/icons/fugue/key--minus.png);
				background-repeat: no-repeat;
				background-position: right;
				padding: 0 20px 0 0;
				margin: 8px 0 3px 0;
			}

			.logout a{
				text-decoration: none;
			}

			.logout a:hover{
				text-decoration: underline;
			}

			.myaccount{

				background: url('../_BWF/images/icons/fugue/user.png');
				background-repeat: no-repeat;
				background-position: right;
				padding: 0 20px 0 0;
				margin: 5px 0 3px 0;
			}

			.myaccount a{
				text-decoration: none;
			}

			.myaccount a:hover{
				text-decoration: underline;
			}



		#left_menu{
			float: left;
			width: 205px;
			margin: 5px 0 5px 0;
			text-decoration: none;
		}

			.menu_bullet{
				background: url('../_BWF/images/icons/fugue/control-000-small.png');
				background-repeat: no-repeat;
				background-position: left;
				padding: 0 0 0 20px;
				margin: 0 0 2px 0;
			}

			.menu_bullet a{
				text-decoration: none;
			}

		#content_right{
			float: left;
			width: 740px;
			min-height: 200px;
			padding: 0 10px 10px 10px;
			margin: 5px 0;
			border-left: 1px dotted #bbb;
			text-align: left;
		}

			.account_edit{
				background: url('../_BWF/images/icons/fugue/user--pencil.png');
				background-repeat: no-repeat;
				background-position: left 12px;
				padding-left: 20px;
			}

			.account_edit_title{
				padding: 0 0 0 20px;
				height: 20px;
				font-weight: bold;
				margin: 0 0 3px 0;
			}

			.lock_arrow{
				background: url('../_BWF/images/icons/fugue/lock--arrow.png');
				background-repeat: no-repeat;
				background-position: left top;
			}
			.account_edit_input_title{
				background: #F2EFD9 url('../_BWF/images/icons/fugue/arrow-315-small.png');
				background-repeat: no-repeat;
				background-position: left top;
				padding: 3px 0 0 16px;
				height: 20px;
				width: 160px;
				border-right: 1px dotted #bbbbbb;
				border-bottom: 1px solid #bbbbbb;
				margin: 0 0 2px 0;
				float: left;
			}

			.account_edit_input_field{
				background: #ffffff url('../_BWF/images/icons/fugue/pencil-small.png');
				background-repeat: no-repeat;
				background-position: left;
				padding: 2px 0 0 20px;
				margin: 0 0 0 3px;
				height: 20px;
				width: 258px;
				border: 1px solid #bbbbbb;
				font-family: "MS Sans Serif", "Trebuchet MS", "Lucida Grande", Verdana;
				font-size: 11px;
				font-weight: bold;
				color: #666666;
			}

			.account_edit_input_field_error{
				background: #ffffff url('../_BWF/images/icons/fugue/exclamation-red.png');
				background-repeat: no-repeat;
				background-position: 1px;
				padding: 2px 0 0 20px;
				margin: 0 0 0 3px;
				height: 20px;
				width: 200px;
				font-family: "MS Sans Serif","Trebuchet MS", "Lucida Grande", Verdana;
				color: #666666;
				border: 1px solid #A31111;
				font-size: 11px;
				font-weight: bold;
			}

			.account_edit_select_field{
				background: #ffffff url('../_BWF/images/icons/fugue/pencil-small.png');
				background-repeat: no-repeat;
				background-position: left;
				padding: 2px 0 0 20px;
				margin: 0 0 0 3px;
				height: 24px;
				width: 220px;
				border: 1px solid #bbbbbb;
				font-family: "MS Sans Serif","Trebuchet MS", "Lucida Grande", Verdana;
				font-size: 11px;
				font-weight: bold;
				color: #666666;
			}

			.account_edit_save_good{
				margin: 5px 0 5px 0;
				background: url('../_BWF/images/icons/fugue/tick-button.png');
				background-repeat: no-repeat;
				background-position: left 5px;
				padding: 0 0 0 20px;
			}

			#invoiceDataConfirmation, #invoiceLogInformation, #invoiceReminderDates{
				border: 1px dotted #BBBBBB;
				background-color: #FFFFFF;
				padding: 5px;
				margin: 0 0 3px 0;
			}

			.invoice_item{
				border: 1px solid #bbbbbb;
				width: 140px;
				font-family: "MS Sans Serif","Trebuchet MS", "Lucida Grande", Verdana;
				font-size: 11px;
				font-weight: bold;
				color: #666666;
			}

			.invoice_item_error{
				border: 1px dotted #A31111;
			}

			.invoice_vat_add{
				background: url('../_BWF/images/icons/fugue/plus-white.png');
				background-repeat: no-repeat;
				background-position: 0 0;
				padding: 0;
				width: 16px;
				height: 18px;
				cursor: pointer;
			}


			.boxTitle{
				border-bottom: 1px solid #333333;
				margin: 0 0 10px 0;
				width: 100%;
			}

			.boxContent{
				height: 253px;
			}

			.buttonBar{

			}

			#invoiceDetails{
				width:760px;
				min-height:1080px;
				padding:35px 0 15px 0;
				margin:0 0 0 -10px;
				background:url(../images/invoice_bg_top.png) center top no-repeat,url(../images/invoice_bg_bottom.png) center bottom no-repeat,url(../images/invoice_bg_intern.png) center center repeat-y;
			}
				#invoiceLogoContainer{
					position: relative;
					width: 100%;
					text-align: right;
				}

			.invoiceRow-buttons{
				width:120px;
				border:1px dotted #BBB;
				position:absolute;
				top:28px;
				left:730px;
				padding:0 5px;
				display:none;
			}

				.invoiceRow-buttons.left{
					width:43px;
					left:-67px;
				}

				.invoiceRow-buttons.right{
					width:66px;
					left:690px;
				}
			.invoice_item_plus{
				background: url('../_BWF/images/icons/fugue/plus-button.png');
				background-repeat: no-repeat;
				background-position: 0 0;
				padding: 0;
				width: 16px;
				height: 18px;
				cursor: pointer;
			}

			.invoice_item_min{
				background: url('../_BWF/images/icons/fugue/minus-button.png');
				background-repeat: no-repeat;
				background-position: 0 0;
				padding: 0;
				width: 16px;
				height: 18px;
				cursor: pointer;
			}

			.invoice_item_remove{
				background:  url('../_BWF/images/icons/fugue/cross-button.png');
				background-repeat: no-repeat;
				background-position: 0 0;
				padding: 0;
				width: 16px;
				height: 18px;
				cursor: pointer;
			}

			.invoice_item_add{
				background: url('../_BWF/images/icons/fugue/navigation-000-button.png');
				background-repeat: no-repeat;
				background-position: 0 0;
				padding: 0;
				width: 16px;
				height: 18px;
				cursor: pointer;
			}

			.invoice_item_up{
				background: url('../_BWF/images/icons/fugue/navigation-090-button.png');
				background-repeat: no-repeat;
				background-position: 0 0;
				padding: 0;
				width: 16px;
				height: 18px;
				cursor: pointer;
			}

			.invoice_item_down{
				background: url('../_BWF/images/icons/fugue/navigation-270-button.png');
				background-repeat: no-repeat;
				background-position: 0 0;
				padding: 0;
				width: 16px;
				height: 18px;
				cursor: pointer;
			}

			#totalOfInvoice{
				border-top: 1px solid #bbbbbb;
			}

			.error{
				background: url('../_BWF/images/icons/fugue/exclamation.png');
				background-repeat: no-repeat;
				background-position: 2px 0;
				padding: 0 0 2px 25px;
				border-bottom: 2px solid #bbbbbb;

			}

			.noError{
				background: url('../_BWF/images/icons/fugue/tick-circle-frame.png');
				background-repeat: no-repeat;
				background-position: 2px 0;
				padding: 0 0 2px 20px;
				border-bottom: 2px solid #bbbbbb;
			}

			.noMoney{
				background: url('../_BWF/images/icons/fugue/money--exclamation.png');
				background-repeat: no-repeat;
				background-position: 2px 0;
				padding: 0 0 0 20px;
			}

			.logClock{
				background: url('../_BWF/images/icons/fugue/clock-history-frame.png');
				background-repeat: no-repeat;
				background-position: 2px 0;
				padding: 0 0 0 20px;
			}

			.logComment{
				background: url('../_BWF/images/icons/fugue/sticky-note-pin.png');
				background-repeat: no-repeat;
				background-position: 2px 0;
				padding: 0 0 0 20px;
			}

			.logCommentAdd{
				background: url('../_BWF/images/icons/fugue/sticky-note--plus.png');
				background-repeat: no-repeat;
				background-position: 2px 0;
				padding: 0 0 0 20px;
			}

			.logUser{
				background: url('../_BWF/images/icons/fugue/user.png');
				background-repeat: no-repeat;
				background-position: 2px 0;
				padding: 0 0 0 20px;
			}

	#CBfooter {
		clear: left;
		height: 100px;
		width: 975px;
		font-size: 10px;
		line-height: 1em;
		margin: 5px 0 0 0;
		border-top: 2px solid #bbbbbb;
	}

		#CBfooter a:link, #CBfooter a:visited {
			color: #999999;
		}
		#CBfooter p {
			padding: 24px;
		}

/* General classes */
#barContent{
	height:65px;overflow:hidden;padding:3px 3px 3px 2px
}
.screenMessages p, .errorReports p{
	text-align: left;
	font-size: 14px;
	width: 60%;
	padding:7px;
	margin:3px;
	display:block;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
.field_border{
	background-color: #ffffff;
	border-top: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	margin: 2px 0 2px 0;
	padding: 2px 0 2px 0;
}

.field{
	background-color: #EDEDED;
	font-family: "MS Sans Serif","Trebuchet MS", "Lucida Grande", Verdana;
	color: #666666;
	padding: 10px;
	margin:0;
}

.field_white{
	background-color: #FFFFFF;
	margin:0;
}

.button_light_gra{
	background:url(../images/buttons.png) repeat-x scroll left -50px;
	border:1px solid #BBB;
	height:27px;
	font-size:12px;
	padding:0 2px;
	cursor:pointer;
	font-family: "MS Sans Serif","Trebuchet MS", "Lucida Grande", Verdana;
	color:#666;
	text-align:center;
	width:auto;
}
.button_light_gra:hover{
	background:url(../images/buttons.png) repeat-x scroll left -77px
}

.notice_blue{
	background: url('../images/block_blue.gif') ;
	background-repeat: repeat-x;
	border: 1px solid #0CB3C7;
	padding: 3px;
	color: #ffffff;
	margin: 3px 0 3px 0;
}

.textarea{
	border: 1px solid #bbbbbb;
	height: 100px;
	font-family: "MS Sans Serif","Trebuchet MS", "Lucida Grande", Verdana;
	color: #666666;
	font-size: 11px;
	padding: 10px;
}

.float{
	float: left;
}

.white{
	background-color: #FFFFFF;
}

label,.pointer{
	cursor:pointer;
}

.relative{
	position: relative;
}

.marginTop10px{
	margin-top:10px
}

.marginTop45px{
	margin-top:45px
}

.marginBottom10px{
	margin: 0 0 10px 0;
}

.padding5px{
	padding: 5px;
}

.borderGrey{
	border: 1px solid #BBBBBB;
}

.borderRightGrey{
	border-right: 1px solid #BBBBBB;
}

.borderBottomGrey{
	border-bottom: 1px solid #BBBBBB;
}

tr.borderTopGrey td{
	border-top: 1px solid #BBBBBB;
}

.trEven{
	background-color: #E0E8F7;
}

.width100{
	width: 100%;
}

.bgImage{
	background-repeat: no-repeat;
	background-position: 2px 1px;
	padding: 0 0 0 20px;
}

.bgFugueImage{
	background-repeat: no-repeat;
	background-position: 2px 1px;
	padding: 0 0 0 20px;
}

/* Admin section classes */

.adminFoundAccount{
	width: 80%;
}

.rowHoverOver{
	background-color: #A9D9FF;
}


/* End Admin section classes */

.searchResultField{
	position: absolute;
	top: 23px;
	left: 0;
	background-color: #FFFFFF;
	border: 1px solid #BBBBBB;
	display: none;
}

/* Invoice details css */

.invoice-item{
	position:relative;
	border:1px dotted #CCC;
	margin:10px 0 0 0;
	padding:5px;
}

.invoice-item-minimize{
	position: absolute;
	top: 3px;
	right: 3px;
	width: 15px;
	height: 15px;
	background: #FFFFFF url(../_BWF/images/icons/fugue/arrow-225-medium.png);
	border: 1px solid #DDD;
	display: none;
	cursor: pointer;
}
/* toggle box plugin css */
.toggle-box-hover{
	border:1px dotted #BBB;
	background:#EEE;
	cursor:pointer;
}

.toggle-box-select{
	border:1px solid #BBB;
	background-color:#FFF;
	margin:10px 0 0 0;
	padding:5px;
	cursor:auto;
}
/* einde toggle box plugin css */
#invoiceDetails .toggle-box-input span{
	display:block
}
.box-standard{
	display: none;
	padding: 10px;
	background: #FFF;
	border: 1px solid #BBB;
}

.box-close{
	position: absolute;
	top: 5px;
	right: 5px;
	background: url(../_BWF/images/icons/fugue/cross-button.png);
	height: 16px;
	width: 16px;
	font-weight: bold;
	cursor: pointer;
}

/* CCS Error pages */

.error_0{
	border: 1px solid #333;
	background: #FFF;
	font-family: "MS Sans Serif","Trebuchet MS","Lucida Grande",Verdana;
	padding: 10px;
}

#errorLogsBox{
	position: absolute;
	top: 5px;
	right: 5px;
	height: 16px;
	width: 16px;
	font-weight: bold;
	cursor: pointer;
	padding:0;
}

#errorLogContent{
	position: relative;
	padding: 5px;
	border: 1px solid #BBB;
	background: #FFF;
}

.error_page_title{
	border-bottom: 1px dotted #BBB;
	background: url('../_BWF/images/icons/fugue/exclamation--frame.png') no-repeat;
	background-position: 0 3px;
	padding: 2px 2px 2px 18px;
}

.error_page_item{
	border-bottom: 1px dotted #BBB;
	background: url('../_BWF/images/icons/fugue/control-record-small.png') no-repeat;
	background-position: 0 3px;
	padding: 2px 2px 2px 16px;
}
/* Invoice view table */
.supply-table{
	border-collapse:collapse;
	width:100%
}
.supply-table th{
	width:140px;
	background:#DDD
}
.invoiceRow-buttons table{
	border-collapse:collapse;
}
.invoiceRow-buttons td{
	width:20px
}
.supply-table tr,.invoiceRow-buttons table tr{
	height:32px
}
#totalTable{
	position:relative;
	float:right;
	margin:2px 19px 0 0;
	border:1px solid #CCC;
	padding:5px
}
li.failed{
	background:red;
	color:#FFF
}
li.success{
	background:green;
	color:#FFF
}
.deleteButton{
	background:#F7584D;
	background-image: linear-gradient(bottom, #F7584D 25%, #FFE5D7 100%);
	background-image: -o-linear-gradient(bottom, #F7584D 25%, #FFE5D7 100%);
	background-image: -moz-linear-gradient(bottom, #F7584D 25%, #FFE5D7 100%);
	background-image: -webkit-linear-gradient(bottom, #F7584D 25%, #FFE5D7 100%);
	background-image: -ms-linear-gradient(bottom, #F7584D 25%, #FFE5D7 100%);
	border:1px solid #E54B39;
	color:#FFF
}
.deleteButton:hover{
	background:#F7584D;
}
/* TEMPORAL, must be removed */
.debug{background:#DDD;margin:10px;padding:20px;font-size:10px;overflow:auto;text-align:left}